
    
    <ion-modal-view>
    <div class=" cust_model">
      <ion-content>
    <div class="bar bar-header header_popup">
        <div class="h1 title">Order Details</div>
        <button class="button button-clear btn_close icon ion-close" ng-click="modal.hide()"></button>
    </div>
    <div class="content has-subheader" style="position:relative;">
    
    <div class="customer_detail">
    
    <div class="row_first">
    
    <div class="row cust_list">
    <div class="col-34 name_lid">Customer</div>
    <div class="col-66 name_field">Rejeesh Rajan</div>
    </div>
    
    <div class="row cust_list">
    <div class="col-34 name_lid">Pickup</div>
    <div class="col-66 name_field color_red">Late</div>
    </div>
    
    </div>
    
    <div class="row_hide">
    
    <div class="row cust_list">
    <div class="col-34 name_lid">Tips</div>
    <div class="col-66 name_field color_red">$15.22</div>
    </div>
    
    <div class="row cust_list">
    <div class="col-34 name_lid">Email</div>
    <div class="col-66 name_field">rejeesh@newagesmb.com</div>
    </div>
    
    <div class="row cust_list">
    <div class="col-34 name_lid">Phone</div>
    <div class="col-66 name_field">9747244590</div>
    </div>
    
    </div>
    
    <div class="row">
    <button class="btn_show"><i class=""></i></button>
    </div>
    
    </div>
    
    <div class="order_detail">
    
    <div class="row table_head">
    <div class="col-25">Dish</div>
    <div class="col">Size</div>
    <div class="col text-center">Qty</div>
    <div class="col text-center">Price</div>
    <div class="col text-right">Total</div>
    </div>
    
    <div class="row table_list">
    <div class="col-25">Meatballs</div>
    <div class="col"></div>
    <div class="col text-center">3</div>
    <div class="col text-center">$10.00</div>
    <div class="col text-right">$30.00</div>
    </div>
    
    <div class="row table_list">
    <div class="col-25">Black Beans</div>
    <div class="col"></div>
    <div class="col text-center">3</div>
    <div class="col text-center">$10.00</div>
    <div class="col text-right">$30.00</div>
    </div>
    
    <div class="row table_list">
    <div class="col-25">Grilled Salmon Teriyaki</div>
    <div class="col"></div>
    <div class="col text-center">3</div>
    <div class="col text-center">$10.00</div>
    <div class="col text-right">$30.00</div>
    </div>
    
    <br>
    
    <div class="row total_list">
    <div class="col-25">Subtotal</div>
    <div class="col text-right">$101.50</div>
    </div>
    <div class="row total_list">
    <div class="col-25">Discount</div>
    <div class="col text-right">- $0.00</div>
    </div>
    <div class="row total_list">
    <div class="col-25">Sales Tax</div>
    <div class="col text-right">+ $7.11</div>
    </div>
    <div class="row total_list">
    <div class="col-25">Tip</div>
    <div class="col text-right">+ $15.22</div>
    </div>
    
    <div class="row sub_list">
    <div class="col-25">Total</div>
    <div class="col text-right">$123.83</div>
    </div>
    
    </div>
    
        
    </div>
    </ion-content>
    
    </div>
    
    <div class="bar bar-footer bar_btnfooter">
    <div class="col-50">
      <button class="button-block btn_refund">CANCEL</button>
    </div>
    <div class="col-50">
    <button class="button-block btn_accept" href="#">ACCEPT</button>
    </div>
    </div>
    
    
    </ion-modal-view>
    
    
    